[2022-07-15 03:27] siddhi-244 opened #1 "Add a readme for the project"
Add guidelines on how to run the project + how to contribute + info about the project admins.

[2022-07-15 03:28] siddhi-244 opened #2 "Add pr and issue template"
Add pull request and issue template. You can take reference from here (https://github.com/siddhi-244/Embellish/tree/main/.github/ISSUE_TEMPLATE)
(https://github.com/siddhi-244/Embellish/blob/main/.github/PULL_REQUEST_TEMPLATE.md)

[2022-07-15 03:31] siddhi-244 opened #3 "Improve the navbar in mobile view !"
![Screenshot_20220715-090041_Chrome](https://user-images.githubusercontent.com/69195262/179144767-286fb4ef-44de-4495-87b9-5585d6569841.jpg)

Improve this !

[2022-07-15 03:35] akashrchandran commented on #3
Please assign me this😁.

[2022-07-15 03:43] siddhi-244 commented on #3
Go on🥳🎊

[2022-07-15 04:09] utkarsh006 opened #4 "Documentation of the main readme"

[2022-07-15 09:19] Aditi-Singh16 commented on #4
@utkarsh006 please provide some information on what all points you are thinking to document

[2022-07-15 11:51] afreenabegum commented on #2
please do assign it to me!

[2022-07-15 11:53] siddhi-244 commented on #2
Assigned

[2022-07-15 13:00] muditchoudhary commented on #1
Hey, I would like to work on this. Can you assign it to me?

[2022-07-15 13:01] siddhi-244 commented on #1
Assigned

[2022-07-15 16:48] muditchoudhary commented on #1
Hey, @siddhi-244 Should I create a different file [contribution-guide. md] for contribution-guideline or it should be in a single readme?

[2022-07-15 16:49] siddhi-244 commented on #1
Different file. Will send you a link for reference

[2022-07-15 16:49] siddhi-244 commented on #1
https://github.com/siddhi-244/Embellish

[2022-07-15 19:54] afreenabegum commented on #2
@siddhi-244 , where we need to add pr and issue template files (In which directory) ?

[2022-07-15 21:15] ashmeet-ashmeet opened #5 "Fix grammar and enhance readability"
1. Fix the incorrect articles (there's "an Java" written on a card)
1. Put capital alphabets wherever required. They're missing at some places, for instance "working at google"
1. Enhance readability by putting necessary spaces between commas and the words after it. So, "events,hackathons,internships" will look like "events, hackathons, internships"

[2022-07-15 21:17] ashmeet-ashmeet opened #6 "Remove lorem Ipsum text"
I'll remove the lorem ipsum text from the About Us section and add a realistic description

[2022-07-16 03:00] siddhi-244 commented on #2
I have given the reference.  You have to do the same

[2022-07-16 03:00] siddhi-244 commented on #6
Assigned🎊

[2022-07-16 03:01] siddhi-244 commented on #4
@utkarsh006 this issue is already been made and assigned to someone else !

[2022-07-16 03:02] siddhi-244 commented on #5
I have assigned an issue to you about Loren ipsum. You can cover this part over there!

[2022-07-16 03:02] #5 closed, assigned to nobody

[2022-07-16 07:23] siddhi-244 opened #8 "Make the website responsive"
Make the website compatible on all devices !

[2022-07-16 09:03] #4 closed, assigned to nobody

[2022-07-16 09:49] YashDaga17 commented on #8
Can I try ?

[2022-07-16 12:22] #6 closed, assigned to ashmeet-chhabra

[2022-07-16 20:03] ashmeet-ashmeet commented on #8
I'd like to work on this.

[2022-07-16 20:27] YashDaga17 commented on #8
I'd like to work on this one.

[2022-07-17 03:26] siddhi-244 commented on #8
Assigning it to you.
You have 3 days to complete this issue.

[2022-07-17 06:02] #1 closed, assigned to muditchoudhary

[2022-07-17 07:22] afreenabegum commented on #2
Do I need to  add exact same content overthere?
For pull request file, I should also add other files like contributing guidelines?

[2022-07-17 07:38] siddhi-244 commented on #2
You can. Just change a few things in reference to bug busters !

[2022-07-17 08:08] siddhi-244 commented on #2
Don't add link for now. As that file is not created !

[2022-07-17 08:09] siddhi-244 commented on #3
Any updates?

[2022-07-17 13:56] #2 closed, assigned to afreenabegum

[2022-07-19 09:23] siddhi-244 commented on #8
Assigning it to you !

[2022-07-19 09:24] siddhi-244 commented on #8
@ashmeet-chhabra you have to inform us before removing the assignment

[2022-07-19 09:33] pranavsuriya-sr opened #12 "Improve the footer of the website"
The footer is a bit primitive. Improving and adding some more features to the footer can make the website attractive.

[2022-07-19 13:58] #3 closed, assigned to akashrchandran

[2022-07-19 21:34] ashmeet-ashmeet commented on #8
my apologies. didn't know that was a thing

[2022-07-21 05:52] tanya-gupta25 opened #13 "Improve the social media icons in the cards"
**Describe the bug**
Social media icons in the cards needs to be improved. I'll be adding better icons here instead of them

[2022-07-21 05:54] siddhi-244 commented on #13
Go on

[2022-07-21 05:54] siddhi-244 commented on #12
Assigned it to you !

[2022-07-21 05:55] siddhi-244 commented on #8
@YashDaga17 any updates?

[2022-07-21 05:56] YashDaga17 commented on #8
I don't think I can do it in 3 days maybe you can assign it to the others

[2022-07-21 05:58] siddhi-244 commented on #8
Cool. There is no other request now. So you have time. If you are unable to do it. Lemme know

[2022-07-22 14:54] #12 closed, assigned to pranavsuriya-sr

[2022-07-22 14:55] siddhi-244 opened #16 "Improve footer of the website in mobile view!"
**Is your feature request related to a problem? Please describe.**
Improve footer of the website in mobile view!

[2022-07-22 18:50] vikas-kmr1 commented on #16
@siddhi-244 assign this to me please.

[2022-07-22 19:30] Akanksha-Sen commented on #16
Please assign me this issue.

[2022-07-23 02:38] siddhi-244 commented on #16
Assigning it to you !

[2022-07-23 03:02] muditchoudhary opened #17 "Want to create hover effect on social icon buttons"
**Is your feature request related to a problem? Please describe.**
There is no hover effect on social icon buttons. which don't look good and users may get confused if they are clickable.

**Describe the solution you'd like**
I want to add a hover effect on the buttons.

**Describe alternatives you've considered**
I don't have an alternative suggestion for this.

**Additional context**

![Peek 202

[2022-07-23 04:59] vikas-kmr1 commented on #16
@siddhi-244  issue level?

[2022-07-23 04:59] siddhi-244 commented on #16
That would be given according to your code quality once your pr is made

[2022-07-23 06:28] #13 closed, assigned to tanya-gupta25

[2022-07-23 06:59] vedsom commented on #8
@siddhi-244 can you explain a little about what you exactly want in site? I want to work on this part.

[2022-07-23 07:00] siddhi-244 commented on #8
The website is not responsive on mobile devices,  you have to make it compatible on mobile devices

[2022-07-23 07:02] vedsom opened #18 "Want to add a contact section"
**Is your feature request related to a problem? Please describe.**

There is no proper and direct communication channel between site owner and user
**Describe the solution you'd like**

A want to add a good contact page with great css styles which will really helpful to user.

[2022-07-23 07:04] vedsom commented on #18
@Aditi-Singh16 can you assign me this issue?

[2022-07-23 14:31] tanya-gupta25 opened #20 "Improve navbar of the website"
- Will increase the size of logo in navbar
- will shift all the navbar headings to the right side of navbar with hover effects

[2022-07-23 14:31] tanya-gupta25 commented on #20
I want to work on this issue under HSOC

[2022-07-23 14:32] tanya-gupta25 opened #21 "Add photos in cards and social media links"
- Will add photos of the members in the cards
- will add social media links (twitter, insta, github, linkedin) of the members in the cards

[2022-07-23 14:32] tanya-gupta25 commented on #21
I want to work on this issue under HSOC

[2022-07-23 14:37] SumitKanth opened #22 "Navbar"
Want to work on navbar, can you assign me
I will contribute under HCSOC22'

[2022-07-23 16:04] siddhi-244 commented on #17
Assigning it to you🥳🥳

[2022-07-23 16:04] siddhi-244 commented on #18
Assigning it to you 🥳🥳

[2022-07-23 16:05] siddhi-244 commented on #20
Please add description to your issue

[2022-07-23 16:05] siddhi-244 commented on #21
Please add description to your issu3

[2022-07-23 16:05] siddhi-244 commented on #22
Describe about the issue

[2022-07-23 16:09] tanya-gupta25 commented on #21
done

[2022-07-23 16:10] siddhi-244 commented on #21
Assigning it to you🥳🥳🥳

[2022-07-23 16:10] siddhi-244 commented on #21
Next time please follow issue template

[2022-07-23 16:11] tanya-gupta25 commented on #20
done

[2022-07-23 16:12] tanya-gupta25 commented on #21
For sure, sorry for this time.
Kindly provide me all the social media links and the photos of the members so I can add them

[2022-07-23 16:13] siddhi-244 commented on #20
Assigning it to you🥳🥳

[2022-07-23 16:14] siddhi-244 commented on #21
Cool. Will give you social media links on discord and photo you can take from LinkedIn itself

[2022-07-24 02:50] SumitKanth commented on #22
# About the issue
1. Navbar's logo size is to small.
2. Navbar links the not styled .
3. Navbar height not like the average height of navbar.
4. In html files the css is used in inline style witch is not the better way to right css.
5. And some other changes I will see while working on it.

[2022-07-24 05:29] siddhi-244 commented on #22
Assigned

[2022-07-24 06:25] SumitKanth commented on #22
thanks

[2022-07-24 08:10] Soumya-Kushwaha opened #25 "Add contributors section"
**Is your feature request related to a problem? Please describe.**
This would feature all the contributors on the readme

**Describe the solution you'd like**
All the contributors will be displayed as "Project Contributors" on main readme

**Additional context**
No additional context

[2022-07-24 08:17] siddhi-244 commented on #25
Describe your issue. Follow the template.

[2022-07-24 09:19] Soumya-Kushwaha commented on #25
Edited

[2022-07-24 16:36] siddhi-244 commented on #25
Go on🥳

[2022-07-24 16:38] #17 closed, assigned to muditchoudhary

[2022-07-24 22:41] vedsom commented on #8
@siddhi-244  Can you assign me this issue!!

[2022-07-25 00:34] siddhi-244 commented on #8
Sure

[2022-07-25 15:20] #20 closed, assigned to tanya-gupta25

[2022-07-26 04:49] #18 closed, assigned to vedsom

[2022-07-26 04:50] #25 closed, assigned to Soumya-Kushwaha

[2022-07-26 07:53] Soumya-Kushwaha commented on #21
If there's anything left in this, I would like to work on it please

[2022-07-26 08:04] tanya-gupta25 commented on #21
Hey, actually I am working on it ,but waiting for the PA to give me photos and social links of members

[2022-07-26 10:07] tanya-gupta25 opened #31 "Fix navbar & its responsiveness"
**Expected behavior**
- will shift the elements of navbar to right
- will add the name of the website
- will make navbar responsive
- implement toggle button for navbar

[2022-07-26 13:28] tanya-gupta25 commented on #31
I want to work on this issue under HSOC

[2022-07-27 03:17] siddhi-244 commented on #31
Assigning it to you

[2022-07-27 03:18] #22 closed, assigned to SumitKanth

[2022-07-27 07:51] Soumya-Kushwaha commented on #21
Cool. All the best!

[2022-07-27 10:43] SumitKanth opened #32 "Favicon"
Want to add a favicon to the website
Will contribute under HSOC22

[2022-07-27 10:55] deepshikha2708 opened #33 "Improving the contact us page"
**Is your feature request related to a problem? Please describe.**
Improving the contact us page

**Describe the solution you'd like**
The contents of the page will be a little bit more aligned and some changes in its design

[2022-07-27 10:55] deepshikha2708 commented on #33
@siddhi-244 can you please assign me this issue?

[2022-07-27 10:57] siddhi-244 commented on #33
Sure🥳

[2022-07-27 10:57] siddhi-244 commented on #32
Can uh describe the issue more ?

[2022-07-27 11:07] SumitKanth commented on #32
Without favcion the website looks dull, so I want to add favicon and the favicon will we type of bug img.

[2022-07-27 12:19] muditchoudhary opened #34 "Want to improve the accessibility of the website"
**Is your feature request related to a problem? Please describe.**
The website is not fully accessible which may create problems for some of the users on the internet. Like some images don't have alt text, skip heading level, etc.

**Describe the solution you'd like**
I want to improve the accessibility of the website. I will fix the heading levels, Contrast issues or add alt text wherever needed,

[2022-07-27 12:39] siddhi-244 commented on #32
Please share an ss. I am still unclear about it

[2022-07-27 13:52] tanya-gupta25 commented on #31
@siddhi-244 Hey, Can I use Bootstrap for the navbar? I can try kind of animated navbar

[2022-07-27 14:16] siddhi-244 commented on #34
Assigning it to you

[2022-07-27 14:24] SumitKanth commented on #32
![Screenshot (278)](https://user-images.githubusercontent.com/90907720/181271960-dcd87033-37e7-4217-97e2-90b82ce34a84.png)
Favicon is not their

[2022-07-27 14:24] siddhi-244 commented on #32
We don't need it

[2022-07-27 18:22] Aditi-Singh16 commented on #34
Thats a good find!

[2022-07-27 18:25] Aditi-Singh16 commented on #32
Hi! @siddhi-244 @SumitKanth I think having favicon would be good
I think its always better to have the bugbusters logo besides the title

[2022-07-27 18:25] Aditi-Singh16 commented on #32
@siddhi-244 what do you think

[2022-07-27 18:26] Aditi-Singh16 commented on #31
Hi @tanya-gupta25 , sure bootstrap is always better
also what kind of animations will you be trying?

[2022-07-28 02:17] siddhi-244 commented on #32
Cool. Let's do this @SumitKanth

[2022-07-28 03:55] SumitKanth commented on #32
@siddhi-244 @Aditi-Singh16 thanks, I will do this

[2022-07-30 13:14] vikas-kmr1 commented on #16
@siddhi-244  sorry busy with other tasks, assign someone else.

[2022-07-30 15:21] SumitKanth commented on #16
@siddhi-244 Can you assign me

[2022-07-30 15:21] siddhi-244 commented on #16
Sure🔥🔥

[2022-07-31 18:45] Akanksha-Sen opened #38 "Footer"
**Is your feature request related to a problem? Please describe.**
Footer

**Describe the solution you'd like**
Want to improve footer and also would add effects to SUBMIT button.

[2022-08-02 08:42] siddhi-244 commented on #38
Assigning it to you🥳

[2022-08-02 13:58] #34 closed, assigned to muditchoudhary

[2022-08-05 03:29] #21 closed, assigned to tanya-gupta25

[2022-08-06 15:43] SumitKanth commented on #32
@siddhi-244 why you have not closed this issue

[2022-08-06 16:34] siddhi-244 commented on #8
Any updates on this?

[2022-08-06 17:35] #32 closed, assigned to SumitKanth

[2022-08-07 01:35] vedsom commented on #8
Yaa, actually currently my end sem are going on and they are back to back, just give me 2 days more I will come up with solution

[2022-08-07 03:19] siddhi-244 commented on #8
Sure. All the very besttt

[2022-08-07 05:20] Aditi-Singh16 opened #42 "Achievements tab in navbar"
**Describe the solution you'd like**
Add all achievements, webinars and workshops conducted by bugbusters till now
take reference from here -  [BugBusters YT](https://www.youtube.com/channel/UCqH6JeCTHngoGjV-5VlKNHg)

[2022-08-07 14:39] SumitKanth commented on #42
@Aditi-Singh16 can you describe the issue, like how we should add and what we should add ?

[2022-08-11 11:01] #33 closed, assigned to deepshikha2708

[2022-08-11 11:02] siddhi-244 commented on #16
This issue is still open folks👀

[2022-08-23 09:09] siddhi-244 commented on #42
You can add our latest sessions which are on youtube. Basically embedding youtube videos and make a new page called achievements.html and link it with navbar on home page

[2022-08-26 11:21] pranavsuriya-sr opened #43 "Add a preloader"
Adding a preloader before the website is being launched.

[2022-08-30 05:56] #8 closed, assigned to vedsom

[2022-08-31 17:32] vedsom commented on #42
@siddhi-244 @Aditi-Singh16 can I work on it?

[2022-08-31 17:35] siddhi-244 commented on #42
You can. But the hsoc has ended already.  Like it will end at 11 59

[2022-08-31 17:37] vedsom commented on #42
I will do it no worries. YouTube link consist only 3 videos I have to add that's 3 right?

[2022-08-31 17:39] siddhi-244 commented on #42
Right

[2022-08-31 17:44] vedsom commented on #38
@siddhi-244 can you give me this issue too. It is minor issue I will complete parallel with achievement section

[2022-08-31 17:45] siddhi-244 commented on #38
Sure!

[2022-08-31 17:46] siddhi-244 commented on #43
For now, we don't want it. We need to complete the website first

[2022-08-31 17:46] #43 closed, assigned to nobody

[2022-08-31 17:46] #16 closed, assigned to nobody

[2022-08-31 17:46] #31 closed, assigned to tanya-gupta25

[2022-09-02 12:35] vedsom commented on #42
@siddhi-244 whenever you get time. Please update me.

[2022-09-03 07:50] #42 closed, assigned to vedsom

[2022-09-03 07:53] vedsom commented on #42
@siddhi-244 will it count or not?

[2022-09-03 07:55] siddhi-244 commented on #42
It won't. I already told you that

[2022-09-03 07:57] vedsom commented on #42
If there is anyway, please count it.

[2022-09-03 07:59] siddhi-244 commented on #42
If we do it for you , Then we have to do it for others too.

[2022-09-03 08:01] vedsom commented on #42
Ok

[2022-09-28 16:08] SahilAnower opened #46 "Contact Page Enhancement and Styling"
**🐛BUG**
On clicking the submit button, not showing whether form has been submitted or not. Also, whether it is actually submitting don't know either. Also resetting of form-fields should be there, and user should get redirected to homepage. Validation can also be provided to the same before submitting.

**Contact Page ->Submit**

Also Making UI look attractive another feature.

[2022-09-28 17:02] sudhanshu-p opened #47 "Add dark mode toggle"
I mean... come on, dark mode is like the most loved thing by developers, who does not like dark mode? I think I can help this website get a dark mode. I would love to work on this issue!

[2022-09-28 20:14] namn-grg opened #48 "Improve Footer UI"
**Is your feature request related to a problem? Please describe.**
The footer is really sick. The format of the footer is not eye-pleasing. Also, a small bug where copywriter is written is not coloured.

**Describe the solution you'd like**
Would like to change the UI of footer and correct the small bug.

**Describe alternatives you've considered**
None

**Additional context**
Add any other contex

[2022-09-28 20:23] namn-grg commented on #48
Hello, can you please assign me this issue?

[2022-09-29 04:38] PritamSarbajna opened #49 "Improve navbar UI"
The navbar links are not visible when hovering.

https://user-images.githubusercontent.com/90236635/192940137-9fe5e5b5-1000-4c24-a322-71c5125f7b0d.mp4

Happy to get assigned and work on

[2022-09-29 07:21] SahilAnower commented on #46
Assign me to this!

[2022-10-01 06:25] siddhi-244 commented on #49
Sure🙌

[2022-10-01 06:26] siddhi-244 commented on #48
Sure

[2022-10-01 06:30] siddhi-244 commented on #47
Sure !

[2022-10-01 06:30] siddhi-244 commented on #46
Sure

[2022-10-01 06:35] PritamSarbajna commented on #49
Thank you so much @siddhi-244. Is this repo up for hacktoberfest '22 ??

[2022-10-01 06:35] siddhi-244 commented on #49
Yes it is !

[2022-10-01 06:38] PritamSarbajna commented on #49
@siddhi-244 Thanks 🚀

[2022-10-01 07:58] nown1ne opened #51 "Improve the Achievements page"
## Weird white border around the page
![image](https://user-images.githubusercontent.com/25835195/193399221-04f243c9-9391-43a8-be96-073294194bbc.png)

## The li element style is shown at the bottom
![image](https://user-images.githubusercontent.com/25835195/193399258-2aeac8f0-f9bf-4fa7-82f7-541ef5e85d51.png)

## The video titles are evenly spread out (bringing the title closer to the video would b

[2022-10-01 09:06] siddhi-244 commented on #51
Sure!

[2022-10-01 09:07] #38 closed, assigned to vedsom

[2022-10-01 09:37] #51 closed, assigned to nown1ne

[2022-10-01 09:59] nown1ne opened #53 "Center items on the home page"
## The headings/titles are not centered
![image](https://user-images.githubusercontent.com/25835195/193403811-06d2e029-f1d7-4392-b84d-28940ba26b75.png)

## The image under this section is not centered
![image](https://user-images.githubusercontent.com/25835195/193403843-f6f329bf-f3ae-446d-a594-d307904d169a.png)

## Other images in the homepage can also be centered to make the page fill up more scr

[2022-10-01 09:59] nown1ne commented on #53
Please assign this issue to me

[2022-10-01 10:09] Harsh3363 opened #54 "Profile icon"
**Describe the bug**
A clear and concise description of what the bug is.
In profile section the icons are not loading properly
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Relevant icons or images should be shown

**Screenshots**

![bug](https://user-images.githubusercontent.com/72756692/193404284-1

[2022-10-01 10:10] Harsh3363 commented on #54
Hii @siddhi-244 please assign this to me

[2022-10-01 10:21] Harsh3363 opened #55 "Remove the duplicate element in the footer"
**Describe the bug**
The social media icons are placed twice which I want to fix and to add a hover effect for a better user experience

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**
![bug1](https://user-images.githubusercontent.com/72756692/193404774-fb9c4bc2-3b46-402e-a4cb-67e1abbe

[2022-10-01 10:21] Harsh3363 commented on #55
@siddhi-244 please assign this to me

[2022-10-01 10:26] siddhi-244 commented on #55
Sure !

[2022-10-01 10:27] siddhi-244 commented on #54
I think it's not a bug. But there are no images.  You can search these people on linkedin and then add their pictures !

[2022-10-01 10:34] Harsh3363 commented on #54
sure I will do that

[2022-10-01 11:38] nown1ne commented on #53
@siddhi-244 Any updates on this issue ??

[2022-10-01 11:39] siddhi-244 commented on #53
Assigning it to you🥳

[2022-10-01 11:40] #55 closed, assigned to Harsh3363

[2022-10-01 11:42] nown1ne opened #57 "The "Know our members" link in navbar doesn't work"
# The "know our members" link in the navbar currently is not linked to anything.
## ideally it should be linked to this section
![image](https://user-images.githubusercontent.com/25835195/193407822-af585243-cfa1-47b2-8c58-db59aa0a3b42.png)

Please assign this issue to me.

[2022-10-01 11:42] PratyayDhond opened #58 "Add Contributing.md"
To add Contributing.md with all the contribution related details to the repository as required by the Hacktoberfest-2022 guidelines

[2022-10-01 16:53] #54 closed, assigned to Harsh3363

[2022-10-01 17:06] siddhi-244 commented on #57
Sure !

[2022-10-01 17:06] siddhi-244 commented on #58
It's not needed

[2022-10-01 17:06] #58 closed, assigned to nobody

[2022-10-01 18:22] Harsh3363 opened #62 "Page for Link section"
**Is your feature request related to a problem? Please describe.**
Currrently the Link button on navbar is not pointing any page it will be good if there is one separate page for that

**Describe the solution you'd like**
I would like to add a Link page having some articles and resources for getting started with different tech stacks

**Describe alternatives you've considered**
A clear and concise

[2022-10-01 18:23] Harsh3363 commented on #62
@siddhi-244 please assign this to me I would like to work on this

[2022-10-01 19:14] nown1ne opened #64 "Mismatch in the name of main branch (docs)"
## The primary branch of the project is **Master** but in the readme it is referred to as _main_

It causes the following problem
![image](https://user-images.githubusercontent.com/25835195/193424785-e7972857-e03e-4de4-b268-72ea9d9290ab.png)

[2022-10-01 19:17] nown1ne commented on #64
@siddhi-244  Please assign this issue to me

[2022-10-01 22:58] alisamadiii opened #66 "Adding Animation"
**Is your feature request related to a problem? Please describe.**
No, It's gonna be a new Feature.

**Describe the solution you'd like**
I just want to add animation when user is scrolling.

**Describe alternatives you've considered**
I'll gsap Library for this issue.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-02 01:14] sanyamjain04 opened #68 "Navbar width is too large. Overflowing the client width screen"
**Describe the bug**
Navabar width is large.

## screenshots

https://user-images.githubusercontent.com/107163858/193433784-db2e4bc8-439b-48f3-abde-384b211eac89.mp4

**Additional context**
Add any other context about the problem here.

[2022-10-02 01:56] siddhi-244 commented on #62
We need to remove the link section.

[2022-10-02 01:57] siddhi-244 commented on #68
Cool. Do the same for mobile view too !

[2022-10-02 01:58] siddhi-244 commented on #66
No for now we don't need it. We are more focused on making the website responsive and solving all the bugs

[2022-10-02 01:59] siddhi-244 commented on #64
Thanks for pointing that out but it would be great if you can solve one more issue with this as this issue won't have that weightage!

[2022-10-02 01:59] alisamadiii commented on #66
But it will look amazing if you have animations.
I've made a PR, so You can check the website.

[2022-10-02 02:01] siddhi-244 commented on #66
Ok let me see what type of animation is added !

[2022-10-02 02:01] siddhi-244 commented on #66
Will check your pr!

[2022-10-02 02:03] alisamadiii commented on #66
Thank You

[2022-10-02 04:56] Harsh3363 commented on #62
Can I do that?

[2022-10-02 06:18] nown1ne commented on #64
ok understood

[2022-10-02 06:26] nown1ne opened #70 "Making the Homepage more responsive for mobile"
## The images are not centered (overflow the view)
## The headers take up important and limited vertical height
## Other elements also need a little padding around them

https://user-images.githubusercontent.com/25835195/193441000-0b0b3602-e944-41e6-b3f1-194cc8972167.mov

[2022-10-02 06:27] nown1ne commented on #70
@siddhi-244 please assign this issue to me

[2022-10-02 06:38] #53 closed, assigned to nown1ne

[2022-10-02 09:10] Mahak008 opened #71 "Improve UI of Footer Section."
**Describe the bug**
Content in the footer section is not aligned properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 3 column layout

**Expected behavior**
It will look more aligned and attractive.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Chrome

[2022-10-02 15:33] siddhi-244 commented on #71
There is an issue already open for that !

[2022-10-02 15:33] #71 closed, assigned to nobody

[2022-10-02 15:34] #57 closed, assigned to nown1ne

[2022-10-02 16:05] siddhi-244 commented on #70
Sure

[2022-10-02 20:39] Spyder15 opened #73 "Readme upadte #hacktoberfest"
we can add hacktoberfest'22 , section also in readme , where user or developer or beginner can come and see that this repo is part of hacktoberfest'22 with some image too , so user can fork this repo and make some PR..

[2022-10-02 20:39] Spyder15 commented on #73
@siddhi-244 You can assign me to do this part.

[2022-10-03 04:08] dhrumishah commented on #49
Is this issue still open? I would like to work on this issue.

[2022-10-03 04:10] dhrumishah commented on #48
If this is still open, can I work on this?

[2022-10-03 04:16] namn-grg commented on #48
Hi Dhrumi, go ahead. I might take more time as I am a little occupied. Please assign her.

[2022-10-03 04:33] dhrumishah commented on #48
hey @siddhi-244 , Can you please assign me?

[2022-10-03 11:41] siddhi-244 commented on #48
Sure

[2022-10-03 12:05] sumeetk10 opened #76 "Add a confirmation popup"
**Is your feature request related to a problem? Please describe.**
No, I would like to add a popup message stating submitted successful. Also I would like to align the footer properly.

**Describe the solution you'd like**
Upon clicking the submit button in Contact Us page, a popup will appear which gives the confirmation.

**Describe alternatives you've considered**
In home page footer section su

[2022-10-03 18:06] hardik-pratap-singh opened #77 "Improving UI when links in navigation bar are hovered"
May I improve the ui when links are hovered on navigation bar.
Can I take this issue ?

[2022-10-04 04:44] Arbtrage opened #78 "Improve the scroll bar"
**Is your feature request related to a problem? Please describe.**
The scroll bar is really basic and would surely look better if it was customized.

**Describe the solution you'd like**
Would like to change the scrollbar to a custom one to match the overall vibe of the website.

**Describe alternatives you've considered**
None

**Additional context**
Add any other context or screenshots about the

[2022-10-04 04:45] Arbtrage commented on #78
Hello @siddhi-244  , can you please assign me this issue, I would really like to work on it and make the website look better.

[2022-10-04 04:48] siddhi-244 commented on #78
Sure!

[2022-10-04 04:49] #48 closed, assigned to dhrumishah

[2022-10-04 06:09] sumeetk10 commented on #76
Hey @siddhi-244 please assign this issue.

[2022-10-04 08:03] amitp138 opened #81 "Adding timeline in the achievements page"
**Is your feature request related to a problem? Please describe.**
In the achievements page it has very simple ui and also there is no mention of date and time of the achievements

**Describe the solution you'd like**
Instead of showing simply videos we can make a timeline of those video and show according to their timeline
![image](https://user-images.githubusercontent.com/86116926/193766783-3dd9

[2022-10-04 10:04] ZaidKhan2002 opened #83 "Sticky Navbar"
**Describe the bug**
Navbar supposed to be sticked at top when scrolling down for better navigation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Scroll down
3. See error

**Expected behavior**
Navbar should be fixed at top.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-10-04 10:11] ShivamAgarwal-code opened #84 "Improving design and UI of nav bar. Increase and change the font size and family of texts"
Assign me this issue..

[2022-10-04 10:15] ShivamAgarwal-code commented on #84
Also put the Hactoberfest'22 label

[2022-10-04 10:16] Arbtrage opened #85 "Modify the contact us page"
**Is your feature request related to a problem? Please describe.**
The contact page is really basic and is not that much appealing to the eyes.

**Describe the solution you'd like**
Would like to create a better contact us page .

**Describe alternatives you've considered**
None

**Additional context**
Add any other context or screenshots about the feature request here.
![Newissue](https://user-im

[2022-10-04 10:16] Arbtrage commented on #85
Hello @siddhi-244 ,can you please assign me this issue, I would like to work on it.

[2022-10-04 10:17] siddhi-244 commented on #85
Sure

[2022-10-04 10:18] siddhi-244 commented on #84
Can you explain it more precisely?

[2022-10-04 10:18] siddhi-244 commented on #83
Sure

[2022-10-04 10:19] siddhi-244 commented on #81
Timeline isn't needed. If you can improve the achievement page in other way then I can assign it to you

[2022-10-04 10:19] siddhi-244 commented on #77
I didn't get your issue

[2022-10-04 10:19] siddhi-244 commented on #76
We don't need a popup

[2022-10-04 10:19] #76 closed, assigned to nobody

[2022-10-04 10:20] siddhi-244 commented on #73
Nope thats currently not needed. We have added the Hacktoberfest topic

[2022-10-04 10:20] #73 closed, assigned to nobody

[2022-10-04 10:20] siddhi-244 commented on #64
Closing it as it's resolved

[2022-10-04 10:20] #64 closed, assigned to nobody

[2022-10-04 10:21] siddhi-244 commented on #62
That's too basic. You can resolve some other issue along with this !

[2022-10-04 10:28] Harsh3363 commented on #62
Sure

[2022-10-04 10:30] ShivamAgarwal-code commented on #84
**Is your feature request related to a problem? Please describe.**
Not good font size of the texts in navbar, light colors on hovering over it, not good UI design or background color

**Describe the solution you'd like**
I want to look the navbar better than existing thus changing and adding some CSS designs on it..

**Describe alternatives you've considered**
I tried to change the font family and

[2022-10-04 10:47] amitp138 commented on #81
yes I can change the ui of the achievements page

[2022-10-04 10:49] amitp138 commented on #81
and also can i change the ui of  contact us page

[2022-10-04 10:50] siddhi-244 commented on #81
Sure!

[2022-10-04 10:53] hardik-pratap-singh commented on #77
When you actually go on the elements of the navigation bar it transits
showing white color which I think can be improved in order to look more
attractive!

On Tue, 4 Oct, 2022, 3:49 pm Siddhi Bhanushali, ***@***.***>
wrote:

[2022-10-04 14:12] amitp138 commented on #81
thank you so much

[2022-10-04 16:16] krishnabiradar310802 commented on #85
Hello @siddhi-244 can you assign me this issue?

[2022-10-04 16:16] krishnabiradar310802 commented on #47
@siddhi-244 can you assign me this issue?

[2022-10-04 18:58] darshikaguptaa opened #88 "Font style of headings"
Headings are looking very plain and simple

Fixing the alignment and using a better font size of the headings such as about etc.

[2022-10-05 09:48] Ayush7614 commented on #88
Go Ahead @darshikaguptaa

[2022-10-05 10:03] darshikaguptaa commented on #88
Thanks
Can you please label it as hacktoberfest also

[2022-10-05 10:10] Ayush7614 commented on #88
@siddhi-244 please look in to this

[2022-10-05 10:46] siddhi-244 commented on #88
Sure!

[2022-10-05 15:17] tanishk-23 commented on #85
@siddhi-244 can you assign this issue to me?

[2022-10-05 15:49] #70 closed, assigned to nown1ne

[2022-10-05 16:02] Mohammed-Shoaib01 opened #92 "Adding Code of Conduct"
Hey!

Couldn't find the code of conduct for this repository, can I be assigned for this issue?

Thank you!

[2022-10-06 03:01] #88 closed, assigned to darshikaguptaa

[2022-10-06 07:29] #46 closed, assigned to SahilAnower

[2022-10-06 08:12] SahilAnower commented on #85
Close this pull request and issue, as it is resolved now through #90. @siddhi-244 , and also please change the gmail here from "youremail@gmail.com" to your personal or bugbusters official email address, if possible. Thank You!

![bugbusters](https://user-images.githubusercontent.com/49086583/194259889-a659278b-e296-4bcb-8b4f-58e82a943e85.jpg)

[2022-10-06 10:24] #85 closed, assigned to Arbtrage

[2022-10-06 11:15] siddhi-244 commented on #92
Not needed right now!

[2022-10-06 11:15] #92 closed, assigned to nobody

[2022-10-06 11:17] siddhi-244 commented on #84
Instead work on the navbar for mobile view !

[2022-10-06 19:33] 17rashi opened #98 "editted achievement section and added navigation to achievement and contact us section"
**Is your feature request related to a problem? Please describe.**
Navigation was not there on two pages i.e., achievement and contact us, and the UI of the achievement section did not match the Main page.

**I have made the request and added screenshot in that, kindly review and check**

[2022-10-08 17:29] geetika001 opened #104 "Footer change"
**Is your feature request related to a problem? Please describe.**
The footer is not really impressive and seems shuffled

**Describe the solution you'd like**
I request you to allow me to change the footer.I'll make it better aligned.

Also will be sharing the screenshot once u approve me to do so.
Please assign me this issue under Hacktoberfest

[2022-10-09 06:21] #49 closed, assigned to PritamSarbajna

[2022-10-09 06:25] kasib12 commented on #62
Hey @siddhi-244 . I want to help you in resolving this issue. Please assign it to me and answer a few questions that I have regarding the link section.

[2022-10-09 09:27] ZaidKhan2002 commented on #83
Hey @siddhi-244 I made the desired changes but my PR got closed.. Kindly look into this

[2022-10-09 12:57] ZaidKhan2002 opened #107 "Achievement & Contact Section Navbar should be changed"
**Describe the bug**
Navbar not Responsive
No proper navigation
Missing of logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Website'
2. Click on '.Achievement & Contact us'
3. See error

**Expected behavior**
Navbar should be responsive and proper navigation should be added.

**Screenshots**
<img width="1440" alt="Screenshot 2022-10-09 at 6 23 43 PM" src="https://user-images.gith

[2022-10-09 14:20] #81 closed, assigned to amitp138

[2022-10-09 14:32] rahul-aggarwal000005 opened #108 "Add A customized scroller"
**Is your feature request related to a problem? Please describe.**
This feature helps to change the regular scrollar that is by default by the browser.

**Describe the solution you'd like**
We can use the -webkit-scrollbar-track to change the scrollbar

**Describe alternatives you've considered**
Use any external library to make it more attractive.

[2022-10-09 17:28] Murtaza-Farooqui commented on #104
I would like to work on this issue . Assign it to me

[2022-10-10 08:55] goodchai0 commented on #104
I have started working on it. Please , @BugBustersCommunity assign this to me under hacktoberfest 2022.

[2022-10-10 08:56] goodchai0 commented on #77
I want to work on it. Please , https://github.com/BugBustersCommunity assign this to me under hacktoberfest 2022.

[2022-10-10 08:57] goodchai0 commented on #108
I want to work on it. Please , https://github.com/BugBustersCommunity assign this to me under hacktoberfest 2022.

[2022-10-10 15:00] Murtaza-Farooqui opened #112 "Contact button is not responsive"
**Describe the bug**
Contact button is not responsive.

**Expected behavior**
Will be able to visit contact page from home page

**Desktop (please complete the following information):**
 - OS: [Windows]
 - Browser [chrome]

[2022-10-12 03:11] Bhushan0246 commented on #107
Hi
I want to work on this issue can you please assign me.

[2022-10-12 04:08] #78 closed, assigned to Arbtrage

[2022-10-13 07:32] Simranjain06 opened #113 "Dark Mode Feature"
I want to add toggle button to switch between dark mode and light mode .

[2022-10-13 07:33] Simranjain06 commented on #113
Hey,Can you assign me this task :)

[2022-10-13 09:23] amitp138 commented on #81
Ma'am the pr has been merged but can you also add the hactoberfest tag please in this issue because it is still not counted in my profile of hactoberfest it shows pending

[2022-10-13 09:48] amitp138 commented on #81
Pr #106

[2022-10-15 13:05] amitp138 opened #114 "edit the social media links ui"
**Is your feature request related to a problem? Please describe.**
the links of the social media  of the website can be made more good looking by  changing the ui of it , I would love to work upon this . since it the about the social media links it should look more attractive and eyecachy
![image](https://user-images.githubusercontent.com/86116926/195987838-5e9dadf3-1c43-4534-9488-bb2d565ee8c5.png

[2022-10-15 13:39] #83 closed, assigned to ZaidKhan2002

[2022-10-16 05:05] ZaidKhan2002 commented on #107
Should I start working on this ? @siddhi-244 @Aditi-Singh16

[2022-10-16 05:34] AditiSingh2003 opened #116 "Improve the footer"
**Describe the bug**
To improve the display of footer

**Expected behavior**
Will increase the outlook of the website

**Screenshots**
![Screenshot (39)](https://user-images.githubusercontent.com/97729662/196019845-9127841e-a057-411d-ba43-97c44d44d768.png)

**Desktop (please complete the following information):**
 - OS: Window
 - Browser Chrome

**Additional context**
Add any other context about t

[2022-10-16 05:37] AditiSingh2003 opened #117 "Applying the Hover effect"
**Describe the bug**
When we put the cursor on the cards it does not display the hover effect.

**Expected behavior**
Hover and transition effect on cards.

**Screenshots**
![Screenshot (40)](https://user-images.githubusercontent.com/97729662/196019951-1cd4b397-8fd1-426a-94fb-9ca7e5ec66af.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome

[2022-10-16 05:40] AditiSingh2003 opened #118 "The site is not responsive"
**Describe the bug**
when we look for responsiveness the site is not responsive.

**Expected behavior**
Responsive when reduced

**Screenshots**
![Screenshot (41)](https://user-images.githubusercontent.com/97729662/196020025-bcc90c52-446b-40a4-bd26-bf3609f54f8a.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome

[2022-10-16 08:05] siddhi-244 commented on #107
Sure @ZaidKhan2002

[2022-10-16 16:13] #114 closed, assigned to amitp138

[2022-10-17 20:58] ashish5433 commented on #116
hey @AditiSingh2003 can you assign this to me

[2022-10-17 21:00] ashish5433 commented on #117
hey @AditiSingh2003 can you assign this to me

[2022-10-18 08:18] #68 closed, assigned to sanyamjain04

[2022-10-18 14:20] chaudhary-99 commented on #117
hii @siddhi-244 can you pls assign this work to me

[2022-10-18 14:21] chaudhary-99 commented on #118
hii @siddhi-244 can you pls assign this work to me

[2022-10-19 10:03] ibimina opened #120 "Responsive Navigtaion Bar"
**Describe the bug**
The Nav bar is not responsive on the Achievement page and
No proper navigation in  Contact us  Page
The logo is missing from the Achievement page and Contact us page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Website"
2. Click on ''Achievement & Contact us"
3. See error
**Expected behavior**
The navbar should be responsive.

**Screenshots**
If applicable, add

[2022-10-20 00:37] #120 closed, assigned to ibimina

[2022-10-21 13:57] ZaidKhan2002 commented on #107
Someone resolved this issue ...

[2022-10-21 14:48] ZaidKhan2002 opened #122 "Irregular Color Theme"
**Describe the bug**
On landing page there are two different colors presents for one component

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'website'
2. Scroll down to '.'
3. See error

**Expected behavior**
A proper color theme should be maintained

**Screenshots**
<img width="1391" alt="Screenshot 2022-10-21 at 8 15 54 PM" src="https://user-images.githubusercontent.com/71960989/19

[2022-10-23 08:10] chaudhary-99 opened #123 "Smooth scrolling"
When we click on know our team it direct reach to that part of website and thats feels odd. according to me it must scroll smoothly.
please assign this issue to me.

[2022-10-25 17:51] Vishrut19 commented on #47
Hey! Can I get this issue ?? @sudhanshu-p

[2022-10-26 14:32] Arpit-mohankar opened #125 "add Neumorphism effect in cards"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-26 14:36] Arpit-mohankar commented on #125
neuphormism efect looks elegant and attractive

[2022-10-26 18:46] #107 closed, assigned to ZaidKhan2002

[2022-10-26 18:47] #122 closed, assigned to nobody